# Dependências
/node_modules

# Variáveis de ambiente
.env
.env.local
.env.development
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de sistema
.DS_Store
Thumbs.db

# Build e cache
.vercel
.cache
dist
